/* custom properties */

:root{
 --text-size:16px;
}

/*RESET*/

html{
    box-sizing: border-box;
    font-size: var(--text-size);
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

body{
    margin: 0;
    text-align: center;
}

h1{
    margin: 2;
    font-family: cursive;
    color: cornsilk;
}


/* Components */

/* Utilities */

/* site styles */

.app{
    min-height: 100vh;
    display: grid;
    grid-template-rows: 5rem 1fr 3rem;
    grid-template-columns: 100%;
    grid-template-areas:
    "primero"
    "seccion"
    "footer";
}

.header{
    grid-area: primero;
    background-color: saddlebrown;
    
}
.aside{
    grid-area: seccion;
    background-color: salmon;
}

.aside table{
    margin-left: 400px;
    margin-top: 50px;
    border: solid;
}
.aside th,td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
    text-align: left;
    color: #fff;
}
.aside th{
		background-color: #55608f;
}
.footer{
    grid-area: footer;
    background-color: blue;
}
